body {
    font-family: 'Mystery Quest', cursive;
    background-image: url("../images/background.jpg");
    background-size: cover;
}

.title {
    padding: 5px;
    background: repeating-radial-gradient(circle, purple,
    purple 10px,
    #4b026f 10px, 
    #4b026f 20px);
    color: white;
    border: 3px solid yellow;
}

.fighters {
    background: transparent;
    padding: 5px;
}

.col-md-3 {
    padding: 5px;
}

.col-md-3 img {
    width: 80%;
    height: 150px;
    display: block;
    margin: auto;
    border: solid 2px black;
    border-radius: 5%;
}

.col-md-3 p {
    color: white;
    text-align: center;
    text-shadow: -1px 0px black;
    line-height: 15px;
}